h1{
    color: rgb(10, 155, 50);
    font-size: 30px;
    font-family: serif;
    /*text-align: center;*/
}

/*table{
    text-align: center;
}*/

.example{
    font-size: 18px;
}

img{
    height: 300px;
}